<div class="p-8 lg:w-1/2 mx-auto">
  <div class="bg-gray-100 rounded-b-lg py-12 px-4 lg:px-24">
    <p class="text-center text-xl text-gray-500">
    Update Password
    </p>
    <%= form_with model: current_user, url: password_path, class: "mt-6" do |form| %>
      <% if form.object.errors.any? %>
        <% form.object.errors.full_messages.each do |message| %>
          <div class="text-red-500"><%= message %></div>
        <% end %>
      <% end %>
      <div class="relative">
        <%= form.password_field :password_challenge,
          class: "appearance-none border pl-12 border-gray-100 shadow-sm focus:shadow-md focus:placeholder-gray-600  transition  rounded-md w-full py-3 text-gray-600 leading-tight focus:outline-none focus:ring-gray-600 focus:shadow-outline",
          id: "password_challenge",
          placeholder: "Current Password"
        %>
      <div class="absolute left-0 inset-y-0 flex items-center">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-7 w-7 ml-3 text-gray-400 p-1"
            viewBox="0 0 20 20"
            fill="currentColor"
            >
            <path
                d="M10 2a5 5 0 00-5 5v2a2 2 0 00-2 2v5a2 2 0 002 2h10a2 2 0 002-2v-5a2 2 0 00-2-2H7V7a3 3 0 015.905-.75 1 1 0 001.937-.5A5.002 5.002 0 0010 2z"
                />
        </svg>
      </div>
      </div>
      <div class="relative mt-3">
        <%= form.password_field :password,
          class: "appearance-none border pl-12 border-gray-100 shadow-sm focus:shadow-md focus:placeholder-gray-600  transition  rounded-md w-full py-3 text-gray-600 leading-tight focus:outline-none focus:ring-gray-600 focus:shadow-outline",
          id: "password",
          placeholder: "Password"
        %>
      <div class="absolute left-0 inset-y-0 flex items-center">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-7 w-7 ml-3 text-gray-400 p-1"
            viewBox="0 0 20 20"
            fill="currentColor"
            >
            <path
                d="M10 2a5 5 0 00-5 5v2a2 2 0 00-2 2v5a2 2 0 002 2h10a2 2 0 002-2v-5a2 2 0 00-2-2H7V7a3 3 0 015.905-.75 1 1 0 001.937-.5A5.002 5.002 0 0010 2z"
                />
        </svg>
      </div>
      </div>
      <div class="relative mt-3">
        <%= form.password_field :password_confirmation,
          class: "appearance-none border pl-12 border-gray-100 shadow-sm focus:shadow-md focus:placeholder-gray-600  transition  rounded-md w-full py-3 text-gray-600 leading-tight focus:outline-none focus:ring-gray-600 focus:shadow-outline",
          id: "password_confirmation",
          placeholder: "Password Confirmation"
        %>
      <div class="absolute left-0 inset-y-0 flex items-center">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-7 w-7 ml-3 text-gray-400 p-1"
            viewBox="0 0 20 20"
            fill="currentColor"
            >
            <path
                d="M10 2a5 5 0 00-5 5v2a2 2 0 00-2 2v5a2 2 0 002 2h10a2 2 0 002-2v-5a2 2 0 00-2-2H7V7a3 3 0 015.905-.75 1 1 0 001.937-.5A5.002 5.002 0 0010 2z"
                />
        </svg>
      </div>
      </div>
      <div class="flex items-center justify-center mt-8">
        <%= form.submit "Update Password",
          class: "btn-primary"
        %>
      </div>
    <% end %>
  </div>
</div>
