<div id="<%= dom_id retrospective %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Notes:</strong>
    <%= retrospective.notes %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Score:</strong>
    <%= retrospective.score %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Interview:</strong>
    <%= retrospective.interview_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Application:</strong>
    <%= retrospective.application_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this retrospective", retrospective, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this retrospective", edit_retrospective_path(retrospective), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
