<!DOCTYPE html>
<html>
  <head>
    <title>JobPipeline</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="flex flex-col h-screen justify-between">
    <%= render "shared/navbar" %>
    <main class="pt-24 mb-auto flex w-full flex-col items-center justify-center rounded-lg p-8">
      <%= render "shared/notices" %>
      <%= yield %>
    </main>
    <%= render "shared/footer" %>
  </body>
</html>
