<!DOCTYPE html>
<html>
  <head>
    <title>Job Search | Effortlessly Manage Your Job Search</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="flex flex-col h-screen justify-between">
    <%= render partial: "shared/navbar" %>



    <main class="pt-24 mb-auto">
      <%= render partial: "shared/notices" %>
      <%# uncomment these to let tailwind colors compile in dev %>
      <%# idk why tailwind doesn't process partials very well %>
      <%# TODO: figure out why partials dont process well in tailwind %>
      <%# <div class="text-green-400">green</div> %>
      <%# <div class="text-red-800">red</div> %>
      <%# <div class="text-red-400">red light</div> %>
      <%# <div class="text-gray-400">gray</div> %>
      <%= yield %>
    </main>
    <%= render partial: "shared/footer" %>
  </body>
</html>
