<!DOCTYPE html>
<html>
  <head>
    <title>JobPipeline</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="leading-normal tracking-normal">
    <%= render "shared/navbar" %>
    <main class="pt-24 flex w-full flex-col items-center justify-center rounded-lg border border-gray-200 p-8">
      <div><%= notice %></div>
      <div><%= alert %></div>
      <%= yield %>
    </main>
  </body>
</html>
